# --- Dépendances ---
**/node_modules/

# --- Build & Sorties ---
**/dist/
**/build/
**/out/

# --- Logs ---
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.tsbuildinfo

# --- Environnement ---
.env
.env.*
!.env.example

# --- Système / Éditeurs ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Docker & Divers ---
.temp/
.tmp/
docker-compose.override.yml